services:
  pihole2:
    extends:
      file: ../shared.yml
      service: main-shared
    # network_mode: host
    container_name: pihole2
    hostname: pihole2
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "853:853"
    # cap_add:
    #   - NET_ADMIN
    # dns:
    #   - 127.0.0.1
    #   - 1.1.1.1
    volumes:
      - ${CONF_DIR}/pihole/etc/:/etc/pihole/
      - ${CONF_DIR}/pihole/dnsmasqd/:/etc/dnsmasq.d/
      - ${CONF_DIR}/pihole/log/pihole/:/var/log/pihole/
    env_file: pihole.env

# Uptime-Kuma - Monitors uptime
  uptime-kuma:
    image: docker.io/louislam/uptime-kuma:latest
    container_name: uptime-kuma
    hostname: uptime-kuma
    extends:
      file: ../shared.yml
      service: main-shared
    # network_mode: host
    ports:
      - 3001:3001
    volumes:
      - ${CONF_DIR}/uptime-kuma:/app/data

  beszel-agent:
    extends:
      file: ../shared.yml
      service: main-shared
    image: henrygd/beszel-agent-intel
    container_name: beszel-agent
    hostname: beszel-agent
    network_mode: host
    healthcheck:
      test: ['CMD', '/agent', 'health']
      interval: 120s
    env_file: beszel-agent.env
    cap_add:
      - CAP_PERFMON
      - SYS_RAWIO # required for S.M.A.R.T. data
    devices:
      - /dev/mmcblk0:/dev/mmcblk0
    volumes:
      - ${CONF_DIR}/beszel/agent/data:/var/lib/beszel-agent
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # monitor other disks / partitions by mounting a folder in /extra-filesystems
      # - /mnt/disk/.beszel:/extra-filesystems/sda1:ro
      # Monitor SystemD Services
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro

# Docker Proxy
  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy
    hostname: dockerproxy
    extends:
      file: ../shared.yml
      service: main-shared
    # network_mode: host
    privileged: true
    environment:
        - CONTAINERS=1 # Allow access to viewing containers
        - POST=0 # Disallow any POST operations (effectively read-only)
    ports:
        - 2375:2375
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro

# Glances - Server monitoring
  glances:
    image: nicolargo/glances
    container_name: pihole-glances
    hostname: pihole-glances
    extends:
      file: ../shared.yml
      service: main-shared
    network_mode: host
    privileged: true
    pid: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - "GLANCES_OPT=-w"